/*--background-image---*/
html:before {
    /*pc-background.jpg*/
    content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100lvh;
    background:url("pc-background.jpg") center no-repeat;
    background-size:cover;
}
/*--end--*/

/*google fonts*/
.main-body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 380px;
    margin: 15px auto;
    border-radius: 10px;
    padding: 15px 15px 0px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    /* box-shadow: 1px 1px 2px white; */
    border: solid 2px rgba(255, 255, 255, 0.369)
}
/*--end--*/

/*--header--*/
#title {
    display: flex;
    justify-content: space-between;
    max-width: 380px;
}

#title h2 {
    font-size: 27px;
    margin :5px 0px 5px 10px;
}

.header-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

.header-list a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
/*--end--*/

/*--description--*/
.description {
    text-align: center;
    width: 85%;
    margin: 40px auto 40px auto;
    font-size: 17px;
}
/*--end--*/


/*--MENU--*/
#same-drink h2 {
    width: 94%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20%;
    border-bottom: 3px solid black;
}

.drink-1,.drink-2,.drink-3,.drink-4,.drink-5,.drink-6 {
    text-align: center;
    margin-bottom: 20%;
}

#menu img {
    width: 70%;
}

.name-price p {
    font-size: 145%;
}

/*--end--*/

/*--access--*/
#location {
    margin-top: 20px;
}

#location h2 {
    margin-left: 10px;
}

#map {
    margin-top: 60px;
    text-align: center;
}

#location img {
    width: 85%;
    padding: 5%;
    background-color: rgba(192, 190, 190, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.579), 3px 3px 15px rgba(121, 121, 121, 0.369);
}

#location h2 {
    width: 94%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20%;
    border-bottom: 3px solid black;
}

#orange-root { 
    margin: 50px auto;
    width:95%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(192, 191, 190, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.579), 3px 3px 15px rgba(121, 121, 121, 0.369);
}

#orange-root p {
    margin: 10.5px auto;
    max-width: 82%;
    font-size: 19px;
}

.orange-text {
    color: rgb(238, 238, 238);
    padding: 3px 10px;
    margin-right: 10px;
    background-color: rgba(255, 165, 0, 0.7);
    border-radius: 20px;
}

#mint-root {
    margin: 50px auto 0px auto;
    width:95%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(192, 191, 190, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.579), 3px 3px 15px rgba(121, 121, 121, 0.369);
}

#mint-root p {
    margin: 10.5px auto;
    max-width: 82%;
    font-size: 19px;
}

.mint-text {
    color: rgb(238, 238, 238);
    padding: 3px 10px;
    margin-right: 10px;
    background-color: rgba(48, 188, 206, 0.7);
    border-radius: 20px;
}

.annotation {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}
/*--end--*/

/*--sns--*/
#sns {
  max-width: 480px;
}

#QR {
  max-width: 480px;
}

.QR-img {
  display: flex;
	justify-content: space-around;
}

.QR-img img {
  width: 160px;
}
  
.QR-name {
	display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
/*--end--*/

/*--コピーライト--*/
.copy {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

.copy p {
    margin-right: 3px;
}
/*--end--*/

/*--スマートフォン用ブレイクポイント--*/
@media screen and (max-width: 480px) {
    /*--background-image--*/
  html:before { 
         /*mobile-background.png*/
	  content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100lvh;
    background:url("mobile-background.png") center no-repeat;
    background-size:cover;
    } 
    /*--end--*/

	.main-body:before {
	content:"";
    display:block;
    position:fixed;
    top:0;
    left:0;
    width: 100lvh;
    backdrop-filter: blur(2px);
}
} 
/*--end--*/
