* {
    margin: 0;
    padding: 0;
}

/*--background-image*/
html {
    /* background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%); */
    background-image: linear-gradient(-35deg, #92fe9d 0%, #00c9ff 100%);
    /* background-image: linear-gradient(-45deg, #ffecd2 0%, #fcb69f 100%); */
    background-repeat: no-repeat;
    background-size: cover;
    height: cover;
}
/*--end--*/

/*ローディング画面実装用CSSエリア*/
.loader {
    font-size: 125%;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 24% auto 23.5% auto;
    padding: 15px;
    color: rgb(224, 200, 290);
    filter: drop-shadow(25px 20px 0.7px rgba(0, 71, 112, 0.24))
}

.loader span {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    animation: move 15s 0.5s linear infinite; 
    border: 3px solid  rgb(250, 175, 255);
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span:nth-child(2) {
    animation-delay: 1.4s;
}

.loader span:nth-child(3) {
    animation-delay: 2.2s;
}

.loader span:nth-child(4) {
    animation-delay: 3.2s;
}

/*--loaded--*/
.loaded {
    opacity: 0;
    transition: all 2s;
}

/* 表示しないためのクラス↓ */
.loadedN {
    display: none;
}

.main {
    display: none;
}

/* 表示するためのクラス */
.see {
    display: block;
}

.seeN {
    opacity: 1;
    transition: all 2s;
}

/*------------------------------*/


#titleSection img {
    margin: 10% auto;
    display: block;
    /* filter: drop-shadow(20px 50px 3px rgb(45, 226, 193)); */
    width: 80%;
}


/*google fonts*/
.main-body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 33%;
    margin: 7% auto;
    border-radius: 10px;
    padding: 15px 15px 0px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border: solid 2px rgba(255, 255, 255, 0.369);
    color: rgb(24, 24, 24);
}

/*--end--*/

/*--description--*/
.description {
    text-align: center;
    width: 85%;
    margin: 35% auto 25% auto;
    font-size: 16px;
}

.description p {
    font-size: 120%;
    line-height: 170%;
}
/*--end--*/


/*--MENU--*/
#same-drink {
    margin-bottom: 25%;
}

#same-drink h2 {
    width: 95%;
    margin: 0% 2% 8% 2%;
    border-bottom: 3px solid black;
}

.drink {
    text-align: center;
    margin-bottom: 12%;
}

#menu img {
    width: 70%;
}

.name-price p {
    font-size: 145%;
}

/*--end--*/

/*--access--*/
#location {
    margin: 10% auto 25% auto;
}


#location h2 {
    width: 94%;
    margin: 0% 2% 8% 2%;
    border-bottom: 3px solid black;
}

#map {
    margin-top: 60px;
}

#map h4 {
    margin-top: 5%;
}

#map img {
    width: 85%;
    margin: 0 auto;
    display: block;
    padding: 2%;
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.45), 3px 3px 15px rgba(121, 121, 121, 0.45);
}

#root {
    margin-top: 15%;
}

/* オレンジルート */
#orange-root { 
    width: 95%;
    margin: 0 auto;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.45), 3px 3px 15px rgba(121, 121, 121, 0.45);
}


#orange-root p {
    margin: 10.5px auto;
    max-width: 82%;
    font-size: 19px;
}

.orange-text {
    color: rgb(238, 238, 238);
    padding: 3px 10px;
    margin-left: 5%;
    margin-right: 10px;
    background-color: rgba(255, 166, 0, 0.5);
    border-radius: 20px;
}
/* ---- */

/* ミントルート */
#mint-root {
    width: 95%;
    margin: 5% auto 0% auto;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    border-radius: 15px;
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.45), 3px 3px 15px rgba(121, 121, 121, 0.45);
}

#mint-root p {
    margin: 10.5px auto;
    max-width: 82%;
    font-size: 19px;
}

.mint-text {
    color: rgb(238, 238, 238);
    padding: 3px 10px;
    margin-right: 10px;
    margin-left: 5%;
    background-color: rgba(48, 188, 206, 0.7);
    border-radius: 20px;
}

.annotation {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
}
/* ---- */

/*--end--*/

/*--sns--*/
#sns {
    margin-bottom: 15%;
}

#sns h2 {
    width: 95%;
    margin: 0% 2% 2% 2%;
    border-bottom: solid 3px black;
}

#sns h3 {
    text-align: center;
    padding-top: 9%;
    padding-bottom: 7%;
}

#icon-link {
    display: flex;
    justify-content: space-around;
    margin: 10% auto;
    width: 80%;
}

#icon-link a {
    padding-bottom: 0;
    margin: 0;
}
.link-icon-LINE {
    width: 50px;
}

.link-icon-Instagram {
    width: 50px;
}

.link-icon-YouTube {
    width: 50px;
}

.link-box {
    text-align: center;
    width: 30%;
    padding-top: 6%;
    font-size: 90%;
    border-radius: 6%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.45), 3px 3px 15px rgba(121, 121, 121, 0.45);
}

.link-box a {
    margin-bottom: 5%;
}

.credit {
    display: flex;
    flex-flow: column;
    text-align: right;
}

.credit a {
    font-size: 10px;
}

/*--end--*/

/*--コピーライト--*/
.copy {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

.copy p {
    margin-right: 3px;
}
/*--end--*/

/*--スマートフォン用ブレイクポイント--*/
@media screen and (max-width: 480px) {
   
    .main-body {
        width: 85%;
    }

    .description p {
        font-size: 115%;
    }

    #orange-root p {
        font-size: 15px;
    }

    #mint-root p {
        font-size: 15px;
    }

    #link-box {
        width: 30%;
    }

} 
/*--end---*/
